@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --song-img-size:50px;
    --playlist-img-size:180px;
    --artist-img-size:150px;
}
body{
    background-color: #FEF2E5;
    font-family: 'Nunito Sans', sans-serif;
}
.flex{
    display: flex;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    font-family: 'Oregano', cursive,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    text-align: center;
}
.logo-text{
    font-size: 2.75rem;
    margin-inline: 5px;
    color: #361C00;
}
.logo img{
    margin-inline: 10px;
}
nav{
    box-shadow: 3px 0px 5px 0px #888888;
    display: flex;
    align-items: center;
    height: 13vh;
    width: 100%;
    justify-content: space-between;
    background-color: #FEF2E5;
    /* position: fixed; */
    top: 0;
}
.left-nav{
    margin-left: 10px;
}
.right-nav{
    margin-right: 100px;
    font-size: 1.2rem;
    font-family:'Nunito Sans', sans-serif;;
    font-weight: 900;
}
.right-nav ul{
    gap: 30px;
}

.cd{
    width: 85vh;
    height: 85vh;
    background-color: black;
    border-radius: 85vh;
    position: fixed;
    left: -28vh;
    z-index: -1;
}
.cd-yellow{
    width: 40vh;
    height: 40vh;
    border-radius: 40vh;
    top: 38vh;
    left: -5vh;
    background-color: orange;
    position: absolute;
}
.cd-white{
    width: 10vh;
    height: 10vh;
    border-radius: 40vh;
    top: 38vh;
    left: 10vh;
    top:40vh;
    background-color: white;
    position: sticky;
}

.left-nav input{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 10px;
    margin-left: 20px;
    font-size: 1rem;
}
input::placeholder{
    margin-left: 10px;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

/* Sidebar starts here */
.sidebar{
    height: 100vh;
    width: 5vw;
    /* border: solid; */
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40vh;
}
.main-container{
    margin-left: 17vw;
}
.song-img img{
    width: var(--song-img-size);
    height: var(--song-img-size);
}
.song-container{
    margin-top: 5vh;
    flex-wrap: wrap;
    gap: 10px;
}
.song-text-details{
    font-size: 1.1rem;
    width: 250px;
    margin-inline: 7px;
    flex-direction: column;
}
.song-details{
    height: var(--song-img-size);
    flex-direction: row;
}
.song-name{
    font-weight: 600;
    text-align: left;
}

.playlist-container{
    margin-top: 40px;
}
.playlist-img img{
    width: var(--playlist-img-size);
    height: var(--playlist-img-size);
}
.playlist-grid{
    margin-top: 20px;
    gap: 20px;
}
.playlist-name{
    font-weight: 800;
}


.artist-container{
    margin-top: 30px;
    margin-right: 120px;
}
.artist-img img{
    width: var(--artist-img-size);
    height: var(--artist-img-size);
    border-radius: var(--artist-img-size);
}
.artist-grid{
    margin-top:20px;
    gap: 40px;
    justify-content: center;
}
.artist-text-details{
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
}
.artist-name{
    font-weight: 800;
}